@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
/* font-family: 'Ubuntu', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
/* font-family: 'Varela Round', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

body, html{
    background-color: aliceblue;  
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 5px;
}

nav{
    font-family: 'Varela Round', sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 75px;
    background-color: rgb(83, 103, 156);
    color: white;
}

nav ul a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

nav ul a:hover, nav ul a.active{
    text-decoration: underline;
    color: rgb(230, 224, 224);
}

nav ul li{
    padding: 0 18px;

}

.brand img{
    width: 80px;
    height: 80px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

#home{
    background-image: url("/img/online_vision.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.right{
    position: absolute;
    right: 34px;
    top: 12;
    display: inline-block;
}

.btn{
    font-size: 30px;
    display: inline;
    width: 130px;
    background-color: rgb(16 56 75);
    color: white;
    border-radius: 25px;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(41, 91, 114);
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
}

section .imgBx{
    position: relative;
    width: 100%;
    height: 100%;
}

section .imgBx:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    mix-blend-mode: screen;
}

section .imgBx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* styling search bar */
.search input[type=text]{
    width:300px;
    height:35px;
    border-radius:5px;
    border: none;
}
      
.search{
    float:right;
    margin:7px;
}
      
.search button{
    background-color: #ffffff;
    color: gray;
    float: right;
    padding: 7.5px 10px;
    margin-left: 2px;
    margin-right: 16px;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
} 

.search button:hover{
    background-color: gainsboro;
}


@media (max-width: 768px){
    section .imgBx{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}
